<%

function getHardCode(varName){
   if(locals.user!==undefined){
        for(i in  locals.user.screener.hardCodes){
        var item=locals.user.screener.hardCodes[i];
            if(item.variableName==varName){
                //console.dir(item);
                console.log('looking for '+locals.user.defaultLanguage)
                if(locals.user.defaultLanguage==='ქართული'){
                    console.log('found  kartulshi')
                    console.log(item.geoValue);
                    return item.geoValue;
                    
                }
                if(locals.user.defaultLanguage=='English'){
                    console.log('found  inglisurshi');
                    return item.engValue;
                    
                }
                if(locals.user.defaultLanguage=='русский'){
                    console.log('found rusulshi');
                    return item.rusValue
                    
                }
            }
        }
   }else{
    return '';
   }
   
}


%>
    <div class="tours-background"">
    
    </div>


    <div class="tours">
        <div class="geo-tours">
            <h1><%=getHardCode('@toursInGeorgia') %></h1>
        </div>
        <div class="container">
            <div class="row">
                <% //console.dir(locals.user.tour);
                 if(locals.user!==undefined){
                        //console.dir(locals.user.screener.tours);
                        var minLength=10000;
                        locals.user.screener.tours.forEach(function(tour){
                            if(tour.aboutPlaceShort.length<minLength){
                                minLength=tour.aboutPlaceShort.length;
                            }
                        })
                        locals.user.screener.tours.forEach(function(tour){
                        //console.log('this is tour_________________-');
                        console.dir(tour);
                            %>
                                <div class="col-sm-6">
                                    <a href="tourDetails?tourId=<%=tour.tourID%>">
                                        <div class="thumbnail tours-thumbnail">
                                            <img class="pull-left" src="<%=tour.descriptionImageURL %>" alt="...">
                                            <div class="caption simple-details ">
                                                <h3><%=tour.tourName %></h3>
                                                <p><%-tour.aboutPlaceShort.substring(0,minLength)+'...' %></p>
                                                <br/><br/><br/>
                                                <span class="price pull-right"><%=getHardCode('@price')%><%=tour.price%> <%=tour.priceCurrency %></span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            <%
                        })


                }
                %>



            </div>
        </div>
    </div>
    