<%

function getHardCode(varName){
   if(locals.user!==undefined){
        for(i in  locals.user.screener.hardCodes){
        var item=locals.user.screener.hardCodes[i];
            if(item.variableName==varName){
                //console.dir(item);
                console.log('looking for '+locals.user.defaultLanguage)
                if(locals.user.defaultLanguage==='ქართული'){
                    console.log('found  kartulshi')
                    console.log(item.geoValue);
                    return item.geoValue;
                    
                }
                if(locals.user.defaultLanguage=='English'){
                    console.log('found  inglisurshi');
                    return item.engValue;
                    
                }
                if(locals.user.defaultLanguage=='русский'){
                    console.log('found rusulshi');
                    return item.rusValue
                    
                }
            }
        }
   }else{
    return '';
   }
   
}


%>


     

        <% if (locals.user!==undefined){
            locals.user.screener.races.forEach(function(item){

            %>
                <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="thumbnail trips-thumbnail">
                        <img class="pull-left" src="<%=item.imageURL %>" alt="...">
                        <div class="caption trips-caption">
                            <h3><%=item.raceName %></h3>
                            <p><%=item.raceDescription %></p>
                            <button type="button" class="btn btn-primary clicked"><%=getHardCode('@book') %></button>

                            <div class='hidden trip-form'>
                                <form action="" >
                                    <div class="row">
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputPassword1"><%=getHardCode('@fname') %></label>
                                            <input type="text" class="form-control" required="true" placeholder="<%=getHardCode('@fname') %>" name="fname" >
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputPassword1"><%=getHardCode('@lname') %></label>
                                            <input type="text" class="form-control" required="true" placeholder="<%=getHardCode('@lname') %>" name="lname">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputFile"><%=getHardCode('@birthDate') %></label>
                                            <input type="text" class="form-control" required="true" placeholder="<%=getHardCode('@birthDate') %>" name="bdate">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputFile"><%=getHardCode('@idNumber') %></label>
                                            <input type="text" class="form-control" required="true" placeholder="<%=getHardCode('@idNumber') %>" name="idNumber">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputPassword1"><%=getHardCode('@mail') %></label>
                                            <input type="email" class="form-control" id="exampleInputPassword1" required="true" placeholder="<%=getHardCode('@mail') %>" name="mail">
                                        </div>
                                        <div class="col-md-4 col-xs-12 inputContainer">
                                            <label for="exampleInputFile"><%=getHardCode('@cellNumber') %></label>
                                            <input type="text" class="form-control" required="true" placeholder="<%=getHardCode('@cellNumber') %>" name="cellNumber">
                                        </div>
                                       
                                         <div class="col-md-4 inputContainer">
                                            <label for="exampleInputPassword1"><%=getHardCode('@number')%></label>
                                            <input type="text" class="form-control" required="true" placeholder="<%=getHardCode('@number')%>" name="quantity">
                                         </div>
                                         <span id="statusMessage" style=""></span>
                                        <input type="hidden" name="raceID" value="<%=item.raceID%>"/>
                                        <input type="hidden" name="raceName" value="<%=item.raceName%>"/>
                                        
                                        <succ style="display:none"><%=getHardCode('@success')%></succ>
                                        
                                        <err style="display:none"><%=getHardCode('@error')%></err>
                                    </div>
                                    <button type="submit" class="btn btn-success success submitForm" onclick=" myFunction(this);return false;" ><%=getHardCode('@submit') %></button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <%
            });
        }

        %>
<script type="text/javascript">
    

     function myFunction(elem){

        //alert('clicked')
        console.dir(elem);
        var form=$(elem).parents('form:first');
         form.find("succ").each(function(){
                            //$(this).html('success')
                            $(this).attr('style','display:none')
                        });
          form.find("err").each(function(){
                            //$(this).html('success')
                            $(this).attr('style','display:none')
                        });
        //console.dir(form);
        var jsonToPost='{'
        var i=0;
        var responseJSON=undefined;
        form.find("input").each(function(){
            //console.log($(this).attr('name')+'_____'+$(this).val());
            //console.log();
            var mark=','
            if(i==0){
                mark='';
            }
            jsonToPost=jsonToPost+mark+'\"'+$(this).attr('name')+'\"'+':'+'\"'+$(this).val()+'\"';
            //console.log(jsonToPost);

            i=i+1;
        })
        jsonToPost=jsonToPost+'}';
        console.log(jsonToPost);
        //alert(document.location.origin);
        //alert(window.location.hostname)

        xhr = new XMLHttpRequest();
        var url = document.location.origin+'/bookTrip';
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-type", "application/json");
        xhr.onreadystatechange = function () { 
            if (xhr.readyState == 4 && xhr.status == 200) {
                responseJSON = JSON.parse(xhr.responseText);  
                if(responseJSON!==undefined){
                    if(responseJSON.status=='1'){
                        //alert('success');
                        form.find("succ").each(function(){
                            //$(this).html('success')
                            $(this).attr('style','display:inline')
                        });
                    }else{
                        //alert('span');
                        form.find("err").each(function(){
                            //$(this).html('error')
                            $(this).attr('style','display:inline')
                        });
                    }
                }              
            }
        }
        xhr.send(jsonToPost);

        
    }


</script>